body{
    background: rgb(0,176,186);
    background: linear-gradient(90deg, rgba(0,176,186,0.90238093528427) 25%, rgba(167,117,217,1) 100%, rgba(255,0,0,1) 100%); 
}
.retro{
    display: flex;
    background: rgb(75,81,255);
    background: linear-gradient(90deg, rgba(75,81,255,1) 0%, rgba(68,255,42,1) 100%, rgba(31,255,0,1) 100%); 
    margin-top: 6.8%;
    width: 1365px;
}
.retro p{
    margin-top: 7%;
    margin-left: 30%;
    margin-bottom: 3%;
    font-style: oblique;
    color: white;
    font-size: 50px;
}
.descrição{
    display: flex;
    margin-top: 3%;
    background-color: #ffffff;
}
.noticias{
    display: flex;
    margin-top: 3%;
    background-color: #ffffff;
    padding-bottom: 3%;
}
.descrição #p2{
    margin-left: 25%;
    font-size: 20px;
}
.descrição #p1,#p3,#p4{
 margin-left: 12%;
 font-size: 20px;
}
.noticias #prd{
    margin-top: 7%;
    margin-left: -35%;
    width: 281px;
    height: 180px;
}
.noticias #a1{
    margin-left: 3%;
}
.noticias #a2{
    margin-left: 12%;
}
.noticias #a1,#a2,#a3,#a4{
    margin-top: 2%;
    margin-left: 12%;
    font-size: 20px;
}
#a2,#a3,#a4{
    margin-top: 9%;
}
#a3,#a4{
    color: rgb(28, 238, 0);
}
.frete{
    
}
.frete #btcal{
    background: rgb(235,236,251);
    background: linear-gradient(90deg, rgba(235,236,251,1) 0%, rgba(42,172,255,1) 100%, rgba(31,255,0,1) 100%); 
    width: 120px;
    height: 40px;
    font-size: 17px;
    border-radius: 50px;
    margin-left:0%;
}
.frete input{
    width: 120px;
    height: 40px;
    font-size: 17px;
    border-radius: 50px;
}
.c1{
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.proc #b1{
    background: rgb(255,0,0);
    background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(255,137,0,1) 50%, rgba(255,0,0,1) 100%, rgba(31,255,0,1) 100%); 
    width: 120px;
    height: 40px;
    font-size: 17px;
    border-radius: 50px;
}
.proc #b2{
    background: rgb(0,136,0);
    background: radial-gradient(circle, rgba(0,136,0,1) 50%, rgba(0,255,184,1) 100%, rgba(255,0,0,1) 100%); 
    width: 120px;
    height: 40px;
    font-size: 17px;
    border-radius: 50px;
}