.conteiner{
    display: flex;
    align-items: center;
    height: 200vh;
    justify-content: center;
}
#caixa{
    background-color: cadetblue;
    color: beige;
    transition: 0.7s;
    text-align: center;
    width: 200px;
    height: 200px;
}
#caixa:hover{
    background-color: yellowgreen;

}