body {background-color: rgb(43, 43, 177);}
section {
 background-color: rgb(255, 255, 255);
 border-radius:10px;
 padding:15px;
 width: 300px;
 margin:auto;
 box-shadow: 50px 50px 10px rgba(0, 0, 0, 0.314);}
div{text-align: center;}
div#ajuda{/*para chamar uma div especifica usa div + # + o nome do id, no caso "ajuda"*/
    color: blue;}
input#btão{color: rgb(35, 35, 202)}
div#retorno{color: blue;}